<html>
<head>
	<title>Add Event</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='util.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">

</head>
<body>

<form class="form-horizontal" action="/events/add" method="POST">
<fieldset>

<!-- Form Name -->
<legend>Create Event</legend>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="eventName">Event Name</label>  
  <div class="col-md-4">
  <input id="eventName" name="eventName" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="eventDate">Date</label>  
  <div class="col-md-4">
  <input id="eventDate" name="eventDate" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="eventDesc">Desc</label>  
  <div class="col-md-4">
  <input id="eventDesc" name="eventDesc" type="text" placeholder="" class="form-control input-md" required="">
    
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="submitEvent"></label>
  <div class="col-md-4">
    <button id="submitEvent" name="submitEvent" type="submit" class="btn btn-primary">Submit Event</button>
  </div>
</div>

</fieldset>
</form>
<div>
<!-- <button onclick="testFunction()">View Events</button> -->
</div>
<div id="root"</div>

<form method="get" action="/events">
  <button type="submit">View Events</button>
</form>

  <script >
     function myFunction(){
         var theUrl="http://35.222.220.158/events";
         const pDate = document.createElement('p');
        
         var xmlHttp = new XMLHttpRequest();
          xmlHttp.open("GET", theUrl, true); // true for asynchronous 
         xmlHttp.send(null);
        xmlHttp.onreadystatechange = function() { 
        if (xmlHttp.readyState == 4 && xmlHttp.status == 200){
             pDate.textContent =xmlHttp.responseText ;
            callback(xmlHttp.responseText);
        }
        else {
            pDate.textContent="no value";
        }
    }
             
         document.getElementById('root').appendChild(pDate); 
      }

function testFunction(){
     const pDate = document.createElement('p');
      var theUrl="http://35.222.220.158/events";
    fetch(theUrl)
  .then(function(response) {
    return response.json();
  })
  .then(function(myJson) {
    pDate.textContent =JSON.stringify(myJSON);
    document.getElementById('root').appendChild(pDate); 
    console.log(JSON.stringify(myJson));
  });
}
  </script>

<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
<!--===============================================================================================-->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<!--===============================================================================================-->


</body>
</html>
